body {
  font-family: "Montserrat", sans-serif;
}

/*///////////////////////////////*/
/* header*/
/* header - top */
/*///////////////////////////////*/

header .top {
  background-color: #2c3d51;
  padding: 10px 0;
}

header .top .container {
  display: flex;
  justify-content: space-between;
}

header .top .container a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

header .top .container a i {
  margin-right: 8px;
}

header .top .container .social-media a {
  color: #fff;
  font-size: 20px;
}

header .top .container .social-media a:not(:last-child) {
  margin-right: 10px;
}

/*/ //////////////////////////////*/
/* header - bottom*/
/*///////////////////////////////*/

header .bottom {
  margin-top: 30px;
}

header .bottom .container {
  display: flex;
  justify-content: space-between;
}

.main-logo-div {
  max-width: 240px;
}

.main-logo {
  max-width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link-item {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.nav-link-item li {
  list-style: none;
}

.nav-link-item li a {
  text-decoration: none;
  color: #414141;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-link-item li:not(:last-child) {
  margin-right: 30px;
}

.nav-link-btn li {
  list-style: none;
}

.nav-link-btn {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  background: #2d9cb1;
  border-radius: 5px;
  padding: 9.5px 14px;
  margin-left: 20px;
}

/*MAIN*/
main {
  margin-top: 30px;
  position: relative;
}

/*///////////////////////////////*/
/*SECTION-1*/
/*///////////////////////////////*/

.hero-heading {
  padding: 145px 0 100px 0;
}

.heading-primary {
  font-size: 48px;
  font-weight: 900;
  color: #5f5f5f;
  text-transform: capitalize;
  margin-bottom: 20px;
  line-height: 58px;
}

.heading-primary span {
  color: #2c3d51;
}

.hero-description {
  width: 500px;
  text-align: justify;
  font-weight: 600;
  line-height: 25px;
  font-size: 14px;
  color: #000000;
  margin-bottom: 40px;
}

.hero-apt-btn {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
  color: #fff;
  background: #2d9cb1;
  padding: 19.5px 41px;
  font-size: 14px;
  border-radius: 5px;
}

.row-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.row-img-1 {
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*/ //////////////////////////////*/
/*SECTION-2*/
/*///////////////////////////////*/
.section-2 {
  margin-top: 50px;
  text-align: center;
}

.hero-card-1 {
  background: #ffeef7;
  padding: 93px 60px 51px 50px;
  border-radius: 20px;
  margin-bottom: 50px;
}

.hero-card-1 h4 {
  margin-top: 40px;
  font-weight: 600;
  font-size: 15px;
  color: #494949;
}

.hero-card-start {
  color: #ff3fa7;
}

.hero-card-start i {
  margin: 0 5px 20px 5px;
}

.hero-card-paragraph {
  color: #494949;
  font-weight: 600;
  font-size: 15px;
}

/*/ //////////////////////////////*/
/*SECTION-3*/
/*///////////////////////////////*/
.section-3 {
  margin-top: 50px;
  position: relative;
}

.section-3 img {
  position: absolute;
  width: 60%;
  height: 100%;
  object-fit: cover;
}

.section-3 .row {
  justify-content: right;
}

.choose-paragraph {
  position: relative;
  z-index: 5;
  padding: 250px 0 170px 0;
}

.section-3::before {
  content: "";
  position: absolute;
  right: 40%;
  width: 20%;
  height: 100%;
  background: linear-gradient(
    269.96deg,
    #ffffff 24.42%,
    rgba(255, 255, 255, 0) 59.38%
  );
  z-index: 2;
}

.choose-paragraph-heading {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 35px;
}
.choose-paragraph-1 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 35px;
}

.choose-paragraph-2 {
  font-size: 16px;
  font-weight: 600;
}

/*/ //////////////////////////////*/
/*SECTION-4*/
/*///////////////////////////////*/

.section-4 {
  position: relative;
}

.service {
  padding-top: 100px;
}

.service::before {
  content: "";
  position: absolute;
  background: #f2f4f8;
  top: 0;
  width: 100%;
  height: 92%;
  z-index: -1;
}

.service-container {
  text-align: center;
  margin-bottom: 100px;
}

.service-container h1 {
  font-weight: 600;
  font-size: 32px;
  color: #373737;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.service-container p {
  font-weight: 700;
  font-size: 14px;
  color: #373737;
  margin-bottom: 50px;
  text-transform: capitalize;
}

.service-container a {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
  color: #fff;
  background: #2d9cb1;
  padding: 20px 72px;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 20px;
}

.service-1 {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 105%;
}

.service-1 img {
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-1 p {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
  position: absolute;
  z-index: 5;
  bottom: 0;
  width: 100%;
  text-align: center;
  bottom: 8px;
}

.service-1::before {
  content: "";
  border-radius: 20px;
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 6.29%,
    rgba(0, 0, 0, 0.9) 89.46%
  );
  z-index: 2;
}

/*/ //////////////////////////////*/
/*SECTION-5*/
/*///////////////////////////////*/

.section-5 {
  margin-top: 50px;
  position: relative;
}

.section-5 img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
  border-radius: 0px 20px 20px 0px;
}

.meet-me {
  padding-top: 110px;
  padding-bottom: 120px;
  padding-right: 30px;
}

.meet-me h1 {
  color: #404040;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.meet-me p {
  color: #404040;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 45px;
}

.meet-me a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  text-transform: capitalize;
  background: #2d9cb1;
  border-radius: 5px;
  padding: 20px 78px;
}

/*/ //////////////////////////////*/
/*SECTION-6*/
/*///////////////////////////////*/
.section-6 {
  margin-top: 50px;
  position: relative;
}

.section-6 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
}

.section-6::before {
  content: "";
  position: absolute;
  right: 0%;
  width: 110%;
  height: 100%;
  background: linear-gradient(
    286deg,
    #ffffff 24.42%,
    rgba(255, 255, 255, 0) 59.38%
  );
  z-index: 2;
}

.section-6 .container {
  position: relative;
  z-index: 5;
}

.section-6 .container .row {
  justify-content: right;
}

.get-started {
  margin-top: 80px;
  margin-bottom: 150px;
  z-index: 5;
}

/* .get-started-header {
} */

.get-started .get-started-header h5 {
  text-align: center;
  color: #2c3d51;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

.get-started .get-started-header h1 {
  text-align: center;
  color: #2c3d51;
  font-size: 38px;
  font-weight: 900;
  text-transform: capitalize;
  padding: 0 29px;
  margin-bottom: 25px;
}

.get-started .get-started-header h1 span {
  color: #2d9cb1;
}

.get-started form {
  position: relative;
}

.get-started form a {
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
  color: #fff;
  background: #2d9cb1;
  font-size: 14px;
  border-radius: 5px;
  position: absolute;
  width: 100%;
  padding: 22px 0;
}

input,
textarea {
  width: 100%;
  color: #ffffff;
  font-weight: 600;
  padding: 10px 0px 10px 28px;
  margin-bottom: 18px;
  border-radius: 5px;
  border: none;
  background: #212121e5;
}

.email {
  width: 48%;
  display: inline-block;
}

.phone {
  width: 49%;
  display: inline-block;
}

.email-phone {
  display: flex;
  justify-content: space-between;
}

.message textarea {
  padding-top: 20px;
}

/*/ //////////////////////////////*/
/*footer*/
/*///////////////////////////////*/

.footer {
  background: #2c3d51;
  padding-top: 70px;
  padding-bottom: 80px;
  font-size: 14px;
}

.footer img {
  width: 50px;
  height: 50px;
}

.footer-list-flex {
  column-count: 2;
}

.footer-list-flex li {
  list-style: none;
}

.footer-list-flex li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 35px;
}

.footer-social-media {
  margin-bottom: 50px;
}

.footer-social-media a {
  background-color: #ffffff;
  color: #000000;
  border-radius: 50%;
  font-size: 22px;
  margin-right: 16px;
  padding: 10px;
  text-decoration: none;
}

.footer-days p {
  color: #ffffff;
  font-weight: 500;
}

.footer-days {
  column-count: 2;
}

.footer-info {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 97%;
}

.footer-info a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
}

.footer-logo p {
  color: #ffffff;
  font-size: 14px;
}

.footer-edm p {
  color: #ffffff;
  font-size: 12px;
}

.footer-edm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 97%;
}

.fa-facebook-f {
  padding: 5px;
}

.footer-social-media a:first-child {
  margin-left: 0;
}

.footer-align {
  margin-right: 31px;
}

.footer-days {
  margin-left: 40px;
}

.footer-info {
  margin-left: 116px;
}

.footer-edm {
  margin-left: 100px;
}
